@font-face {
    font-family: 'EnvyCodeR';
    src: url('../fonts/Envy Code R.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/Envy Code R.woff') format('woff'), 
        url('../fonts/Envy Code R.ttf')  format('truetype'),
        url('../fonts/Envy Code R.svg#svgFontName') format('svg');
}

body {
    border-top: 3px solid #fff;
    background-color: #000;
    padding: 0;
    margin: 0;
    font-family: "EnvyCodeR";
    font-size: 13px;
}

input {
    font-family: "EnvyCodeR";
    color: transparent;
    text-shadow: 0 0 0 #fefefe;
    font-size: 13px;
}

input:focus {
    outline: none;
    background-color: transparent;
}

.container {
    color: #fff;
    padding: 5px;
}

.line {
    width: 100%;
}

.line > div {
    display: inline-block;
}

.sameline > div {
    display: inline-block;
}

.fa-angle-right {
    margin-right: 5px;
}

.command {
    width: 90%;
}

.command > input {
    width: 100%;
    border: 0;
    background-color: transparent;
}
